<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Testing Orange HRM Site">
    <test thread-count="2" name="Regression" parallel="methods">
        <classes>
            <class name="edu.learning.Constants.tests.LoginPageTests"/>
        </classes>
    </test>
</suite>